html {
  font-family: 'PT Serif', serif;
  background-color: #c9b5ab;
  line-height: 1.5;
  color: #222;
}

h1, h2 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
}

nav ol {
  font-family: 'PT Sans', sans-serif;
  list-style-type: none;
  font-size: 1.125rem;
}

a, a:visited {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

.important-text {
  font-weight: bold;
  font-size: 1.125rem;
}

figcaption {
  font-style: italic;
  text-align: center;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

strong {
  font-weight: normal;
}

.blockquote-cite {
  font-size: 0.8rem;
  font-weight: normal;
}

.serving-size {
  font-style: italic;
}

dt {
  font-weight: bold;
}

ul {
  font-size: 0.8rem;
  list-style-type: circle;
}

.common-varieties {
  list-style-type: lower-greek;
}

img {
  width: 500px;
}
